<body>
    <main>
        <section class="products">
            <h1 class="title">PRODUCTO BUSCADO</h1>
            <div>

                <div class="product-card">
                    <h4 class="product--id">Código: {{code}}</h4>
                    <h1 class="product--title">{{title}}</h1>
                    <p class="product--price">Precio: ${{price}}</p>
                    <h2 class="product--stock">Stock disponible: {{stock}}</h2>
                    <h2 class="product--stock">Categoría: {{category}}</h2>
                    <br>
                    <a href="" class="btn-link"><button class="btn-secon">AGREGAR AL CARRITO</button></a>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
    <script src="js/main.js"></script>
</body>